mixin favicons()
  - const pathToFavicons = '/favicons/'

  // Favicons
  link(rel="icon" href=`${pathToFavicons}favicon.ico`)
  link(rel="icon" href=`${pathToFavicons}favicon.svg" type="image/svg+xml`)
  link(rel="apple-touch-icon" href=`${pathToFavicons}apple-touch-icon.png`)
  link(rel="manifest" href=`${pathToFavicons}manifest.webmanifest` crossorigin="use-credentials")
