mixin metainfo()
  // Metainfo
  meta(name="description" content="Sergey Novikov's intro")
  meta(property="og:title" content="Intro")
  meta(property="og:description" content="Sergey Novikov's intro")
  meta(property="og:url" content="https://zombobombo.github.io/intro-site/")
  meta(property="og:locale" content="en_US")
