mixin metainfo()
    // Metainfo
    meta(property="og:title" content="Intro")
    meta(property="og:description" content="Intro of the frontend-dev Sergey Novikov")
    meta(property="og:url" content="https://zombobombo.github.io/intro-site/")
    meta(property="og:locale" content="en_US")
