extends ../base/layout

append variables
  - const title = 'Intro'


block main
  +section-hero()

  section(style="height: 100vh; background-color: red;")#section-skills
  section(style="height: 100vh; background-color: blue;")#section-pets
