{
  "env": {
      "es6": true,
      "browser": true,
      "commonjs": true
  },
  "extends": "./eslint.config.js",
  "parserOptions": {
      "ecmaVersion": 2015,
      "sourceType": "module"
  },
  "rules": {
    // --- Отключение необходимости НЕ-ставить пробел после/перед { ... } при import ---
    "object-curly-spacing": "off",

    // --- Отключение обязательного написания кода в нотации "camelCase" ---
    "camelcase": "off"
  },
  "parser": "@babel/eslint-parser"
}
