@use "../system/vars" as *;
@use "../system/mixins" as *;


.is-hidden {
  /* stylelint-disable-next-line declaration-no-important */
  display: none !important;
}

// === Класс для доступного сокрытия элементов ===
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
