//-
  - ================
  - --- 1. Utils ---
  - ================

include ../mixins/utils/icon
include ../mixins/utils/picture
include ../mixins/utils/link
include ../mixins/utils/sprite
include ../mixins/utils/favicons
include ../mixins/utils/metainfo


//-
  - =============================
  - --- 2. Project components ---
  - =============================

//- *** 2.1: UI ***
include ../mixins/ui/ui-fancy-button
include ../mixins/ui/ui-wip-gears
include ../mixins/ui/ui-code

//- *** 2.2: Components ***

//- Base
include ../mixins/components/_base/site-header
include ../mixins/components/_base/site-footer
include ../mixins/components/_base/site-sidebar

//- Other
include ../mixins/components/skill-card
include ../mixins/components/pet-card
include ../mixins/components/pet-card-wip
include ../mixins/components/copyright
include ../mixins/components/color-scheme-switcher
