mixin section-hero(props = {})
  -
    const DataHeroTags = [
      {text: 'HTML-coder', shortText: '<HTML>', ariaDescribedby: 'tag-html'},
      {text: 'Vanilla-JS lover', shortText: '<JS>', ariaDescribedby: 'tag-js'},
      {text: 'Flutter\'s neophyte', shortText: '<Flutter>', ariaDescribedby: 'tag-flutter'},
    ]


  section.section-hero#section-about&attributes(attributes)
    +ui-code({
      tag: 'h1',
      text: 'Sergey Novikov',
    }).section-hero__title

    menu.section-hero__tags
      each tag in DataHeroTags
        - const { text, shortText, ariaDescribedby } = tag

        li
          +ui-code({
            tag: 'button',
            text: text,
            isColorReverse: true,
          })(
            type="button"
            aria-describedby=ariaDescribedby
            data-short-text=shortText || ''
          ).section-hero__tag
