mixin section-skills(data = {})
    section.container.section-skills#section-skills&attributes(attributes)
        .section-skills__title-box
            h2.ui-title.ui-title--sem-section Skills
            .section-skills__quote
                blockquote.section-skills__quote-text «It's more useful to know a few wise rules that could always serve you than to learn many things that are useless to you...»
                em.section-skills__quote-auth — Some clever philosopher

        ul.section-skills__list
            each skill in DataSkillTypes
                li: +skill-card(skill)
