mixin section-about
  section.container.section-about
    h2.visually-hidden Brief information about me

    +picture({ width: 440, height: 960, name: 'content/content-selfie', ext: 'jpg', alt: 'It\'s me! Hello!' }).section-about__selfie

    .section-about__info-box
      p Hi!
      p My name is Sergey Novikov. I'm a Frontend-dev. I love clean and clear code, play guitar and coffee.
      p Since 2018, bringing designs to life with semantic markup and variety of CSS.
