mixin section-pets(data = {})
    section.container.section-pets#section-pets&attributes(attributes)
        hgroup.section-pets__title-box
            h2.ui-title.ui-title--sem-section Pets
            p.section-pets__title-desc My favorite pets

        ul.section-pets__list
            each pet in DataPets
                if pet.isWip
                    li: +pet-card-wip()
                else
                    li: +pet-card(pet)
