mixin section-hero(data = {})
    section.section-hero#section-about&attributes(attributes)
        hgroup.section-hero__title-box
            h1.section-hero__title Hi! I'm a #[code.ui-code #{'<Sergey Novikov>'}]
            p.section-hero__title-desc
                span.section-hero__title-desc-text
                    | A frontend-dev, fan of #[code.ui-code #{'<coffee>'}], #[code.ui-code #{'<metroidvanias>'}] and #[code.ui-code #{'<kettlebells>'}].
                span.section-hero__title-desc-text Since 2018 bring static designs to life in the Internet.

        +picture({
            width: 350,
            height: 350,
            name: 'content/content-selfie',
            ext: 'png',
            alt: 'It\'s me, hi!',
        }).section-hero__pic

