-
    const DataPets = {
        //- Web-dev Pets
        _webDev: [
            {
                title: 'Pixel Art App',
                desc: 'Pixel drawing board',
                pic: {
                    name: 'content/pets/pet-screen--pixelart',
                    ext: 'jpg',
                    alt: 'Main screen of the «Pixel Art App»',
                },
                href: {
                    repo: 'https://github.com/ZomboBombo/Pixel-Art-App',
                    demo: 'https://zombobombo.github.io/Pixel-Art-App/'
                },
                tags: ['html', 'scss', 'js'],
            },

            {
                title: 'Calorie Counter',
                desc: 'A simple calorie daily norm calculator',
                pic: {
                    name: 'content/pets/pet-screen--calorie-counter',
                    ext: 'jpg',
                    alt: 'The «Calorie Counter» app',
                },
                href: {
                    repo: 'https://github.com/ZomboBombo/cc-form',
                    demo: 'https://zombobombo.github.io/cc-form/'
                },
                tags: ['pug', 'scss', 'js'],
            },

            {isWip: true},
        ],

        //- Mobile-dev Pets
        _mobileDev: [
            {
                title: 'U Dice Roller',
                desc: 'A very simpe app that can only roll a dice and give out a random dice value. <em>(Educational pet from «Udemy»)</em>',
                pic: {
                    name: 'content/pic-placeholder',
                    ext: 'png',
                },
                href: {
                    repo: '#',
                },
                tags: ['dart', 'flutter'],
            },
            {
                title: 'U Quiz App',
                desc: 'Simpe quiz-app. Created in order to study the app states and navigation between screens in mobile apps. <em>(Educational pet from «Udemy»)</em>',
                pic: {
                    name: 'content/pic-placeholder',
                    ext: 'png',
                },
                href: {
                    repo: '#',
                },
                tags: ['dart', 'flutter'],
            },
        ],
    }
