-
  const DataSocialsNavigation = [
    {href: 'https://github.com/ZomboBombo', tooltip: 'Me on GitHub', text: '#github'},
    {href: 'https://codepen.io/ZomboBombo', tooltip: 'Me on Codepen', text: '#codepen'},
    {href: 'mailto:sergey.novikov.zb@gmail.com', tooltip: 'My email', text: '#mailme', isAction: true},
  ]
