-
    const DataMainNavigation = [
        {href: '#section-about', tooltip: 'Info about me', text: 'About'},
        {href: '#section-skills', tooltip: 'Info about my skills', text: 'Skills'},
        {href: '#section-pets', tooltip: 'Info about my pet-projects', text: 'Pets'},
    ]
