-
    const _dataSkill = {
        _markup: [
            {name: 'vanilla html', props: ['semantic', 'a11y', 'bem', 'SEO', 'micromarkup']},
            'pug',
            'nunjucks',
        ],

        _styles: [
            {name: 'vanilla css', props: ['bem', 'custom properties', 'modern css standards (w3c)']},
            {name: 'sass', props: ['@use & @forward', 'mixins', 'functions']},
        ],

        _scripts: [
            {name: 'vanilla js', props: ['ES5 & ES6']},
        ],

        _build: ['webpack', 'gulp'],
    }

    const DataSkillTypes = [
        {title: '<markup>', list: _dataSkill._markup},
        {title: '<styles>', list: _dataSkill._styles},
        {title: '<scripts>', list: _dataSkill._scripts},
        {title: '<build>', list: _dataSkill._build},
    ]
