-
    const DataSocialsNavigation = [
        {href: '#github', tooltip: 'Me on GitHub', text: '#github'},
        {href: '#telegram', tooltip: 'Me in Telegram', text: '#telegram'},
        {href: '#codepen', tooltip: 'Me on Codepen', text: '#codepen'},
    ]
