-
    const DataPets = [
        {
            title: 'Pixel Art App',
            desc: 'Pixel drawing board',
            pic: {
                name: 'content/pet-screen--pixelart',
                ext: 'jpg',
                alt: 'Main screen of the «Pixel Art App»',
            },
            href: {
                gh: 'https://github.com/ZomboBombo/Pixel-Art-App',
                demo: 'https://zombobombo.github.io/Pixel-Art-App/'
            },
            tags: ['html', 'scss', 'js'],
        },

        {
            title: 'Calorie Counter',
            desc: 'A simple calorie daily norm calculator',
            pic: {
                name: 'content/pet-screen--calorie-counter',
                ext: 'jpg',
                alt: 'The «Calorie Counter» app',
            },
            href: {
                gh: 'https://github.com/ZomboBombo/cc-form',
                demo: 'https://zombobombo.github.io/cc-form/'
            },
            tags: ['pug', 'scss', 'js'],
        },

        {isWip: true},
    ]
