-
    const DataSocialsNavigation = [
        {href: '#github', tooltip: 'Me on GitHub', text: '#github'},
        {href: '#telegram', tooltip: 'Me in Telegram', text: '#telegram'},
        {href: '#codewars', tooltip: 'Me on Codewars', text: '#codewars'},
    ]
