-
    const DataWorks = [
        {title: '__work-1__', desc: '__work-description__', tags: ['html', 'css', 'js']},
        {title: '__work-2__', desc: '__work-description__', tags: ['html', 'css', 'js']},
        {title: '__work-3__', desc: '__work-description__', tags: ['html', 'css', 'js']},
        {title: '__work-4__', desc: '__work-description__', tags: ['html', 'css', 'js']},
        {title: '__work-5__', desc: '__work-description__', tags: ['html', 'css', 'js']},
    ]
