-
    const DataPets = [
        {
            title: 'Pixel Art App',
            desc: 'Pixel drawing board',
            href: {
                gh: 'https://github.com/ZomboBombo/Pixel-Art-App',
                demo: 'https://zombobombo.github.io/Pixel-Art-App/'
            },
            tags: ['pug', 'scss', 'js']
        },

        {
            title: 'Calorie Counter',
            desc: 'A simple calorie daily norm calculator',
            href: {
                gh: 'https://github.com/ZomboBombo/cc-form',
                demo: 'https://zombobombo.github.io/cc-form/'
            },
            tags: ['pug', 'scss', 'js']
        },

        {isWip: true},
    ]
