-
    const DataMainNavigation = [
        {href: '#section-about', tooltip: 'Info about me', text: 'About'},
        {href: '#section-skills', tooltip: 'Info about my skills', text: 'Skills'},
        {href: '#section-works', tooltip: 'Info about my works and projects', text: 'Works'},
    ]
