/*
  Media
*/
$media-w520: 520px;
$media-w768: 768px;
$media-w1024: 1024px;
$media-w1280: 1280px;
$media-w1440: 1440px;

/*
  Универсальный миксин для медиа-запросов
*/
@mixin media($media) {
  @if $media == w520 {
    @media only screen and (max-width: calc($media-w520)) {
      @content;
    }
  } @else if $media == w768 {
    @media only screen and (max-width: calc($media-w768)) {
      @content;
    }
  } @else if $media == w1024 {
    @media only screen and (max-width: calc($media-w1024)) {
      @content;
    }
  } @else if $media == w1280 {
    @media only screen and (max-width: calc($media-w1280)) {
      @content;
    }
  } @else if $media == w1440 {
    @media only screen and (max-width: calc($media-w1440)) {
      @content;
    }
  }
}
