@use "vars" as *;
@use "mixins" as *;


// === ГЛОБАЛЬНЫЕ СТИЛИ ===
:root {
  --color-def-white: hsl(0 0% 100%);
  --color-def-black: hsl(0 0% 0%);
  --color-def-transparent: hsl(0 0% 100% / 0);

  --ui-primary: hsl(265 100% 3%);
  --ui-secondary: hsl(260 60% 59%);

  --cs-dark: var(--ui-primary);
  --cs-light: var(--ui-secondary);

  color-scheme: dark light;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font: {
    family: 'Inconsolata', monospace, system-ui;
    size: 1.6rem;
  };
  color: var(--ui-secondary);
  background-color: var(--cs-dark);
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}
