@use "vars" as *;
@use "mixins" as *;

// === ГЛОБАЛЬНЫЕ СТИЛИ ===
:root {
    // Colors
    // => [def]
    --color-def-white: hsl(0 0% 100%);
    --color-def-black: hsl(0 0% 0%);
    --color-def-transparent: hsl(0 0% 100% / 0);
    //
    // => [ui]
    --ui-primary: hsl(272 58% 6%);
    --ui-primary-shade-1: hsl(271 74% 6%);
    --ui-primary-shade-2: hsl(271 34% 15%);
    --ui-secondary: hsl(260 90% 81%);
    --ui-gradient: linear-gradient(45deg, var(--ui-primary) 0%, var(--ui-primary-shade-1) 100%);
    //
    // => [color-scheme]
    --cs-dark: var(--ui-primary);
    --cs-light: var(--ui-secondary);

    // Gaps
    --gap-inner-def-vertical: 1.25rem;
    --gap-inner-def-horizontal: 2rem;

    color-scheme: dark light;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font: {
        family: "Inconsolata", monospace, system-ui;
        size: 1.6rem;
    }
    color: var(--color-def-white);
    background: {
        color: var(--cs-dark);
        image: var(--ui-gradient);
        repeat: no-repeat;
        position: center center;
    };
}
