$font-global-path: '/fonts/';
$font-path-inconsolata: '#{$font-global-path}inconsolata/';

/*
==============================================================================================================
--------------------------------------------- Font «Inconsolata» ---------------------------------------------
==============================================================================================================
*/

// *** weight «Light» ***
@font-face {
  font: {
    family: 'Inconsolata';
    weight: 300;
    style: normal;
    display: swap;
    stretch: 100%;
  }

  src:
    url('#{$font-path-inconsolata}Inconsolata-Light.woff2') format('woff2'),
    url('#{$font-path-inconsolata}Inconsolata-Light.woff') format('woff');
}

// *** weight «Regular» ***
@font-face {
  font: {
    family: 'Inconsolata';
    weight: 400;
    style: normal;
    display: swap;
    stretch: 100%;
  }

  src:
    url('#{$font-path-inconsolata}Inconsolata-Regular.woff2') format('woff2'),
    url('#{$font-path-inconsolata}Inconsolata-Regular.woff') format('woff');
}

// *** weight «Bold» ***
@font-face {
  font: {
    family: 'Inconsolata';
    weight: 700;
    style: normal;
    display: swap;
    stretch: 100%;
  }

  src:
    url('#{$font-path-inconsolata}Inconsolata-Bold.woff2') format('woff2'),
    url('#{$font-path-inconsolata}Inconsolata-Bold.woff') format('woff');
}
