@use 'vars' as *;

/*
  <...> основной градиентный "background" сайта
*/
@mixin base-gradient-bg($bg-color: var(--ui-primary), $bg-gradient: var(--ui-gradient)) {
  background: {
    color: $bg-color;
    image: $bg-gradient;
    repeat: no-repeat;
    position: center center;
  }
}

@mixin base-border($border-type: '') {
  @if ($border-type != '') {
    border-#{$border-type}: {
      width: var(--s-bd-base);
      style: solid;
      color: var(--ui-secondary);
      radius: calc(var(--s-bd-base) * 4);
    }
  } @else {
    border: {
      width: var(--s-bd-base);
      style: solid;
      color: var(--ui-secondary);
      radius: calc(var(--s-bd-base) * 4);
    }
  }
}

/*
  <...> для сброса стилей списков
*/
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*
  <...> для настроек плавности интерактивных элементов
*/
@mixin trans-config($t-props, $t-dur: 0.15s, $t-timing-func: ease) {
  transition: {
    property: $t-props;
    duration: $t-dur;
    timing-function: $t-timing-func;
  }
}

/*
  <...> для изображений внутри <picture>
*/
@mixin pictured-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

/*
  <...> для добавления фона на всю ширину
  для блоков, находящизся внутри семантических
  wrapper-блоков на странице.
*/
@mixin fullwidth-bg($bg-color) {
  background-color: $bg-color;
  box-shadow: 0 0 0 100vmax $bg-color;
  clip-path: inset(0 -100vmax);
}

/*
  <...> для улучшения UX после :hover
  на тач-устройствах
*/
@mixin media-touch-hover($element) {
  @media (hover: hover) {
    #{$element}:is(:hover, :focus-visible) {
      @content;
    }
  }

  @media (hover: none) {
    #{$element}:active {
      @content;
    }
  }
}

/*
  <...> для установки "квадратного" размера
*/
@mixin square($size) {
  width: $size;
  height: $size;
}

/*
  [SPECIAL]
  <...> для установки высоты блока,
  зависимой от base-размеров 'site-container'
*/
@mixin base-container-content-height {
  min-height: calc(var(--s-site-container-height-min) - var(--s-bd-base) * 2);
  max-height: calc(var(--s-site-container-height-base) - var(--s-bd-base) * 2);
}
