@use '../system/mixins' as *;
@use '../system/breakpoints' as *;

:root {
  --cs-switcher-gap: 0.8rem;
  --cs-switcher-icn-size: 4.8rem;
  --cs-switcher-btn-total-size: calc(var(--cs-switcher-icn-size) + (var(--cs-switcher-gap) * 2));
}

.color-scheme-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--cs-switcher-gap);
  width: 100%;
  max-width: max-content;
  height: auto;
  margin: 0 auto;
  padding: var(--cs-switcher-gap);
  border: 0.2rem solid var(--ui-secondary);
  border-radius: var(--cs-switcher-btn-total-size);

  &__btn {
    $t-props: color, background-color, opacity;
    @include trans-config($t-props);
    margin: 0;
    padding: var(--cs-switcher-gap);
    font-size: 0;
    line-height: 0;
    color: var(--ui-secondary);
    border: 0.2rem solid var(--ui-secondary);
    border-radius: 50%;
    cursor: pointer;

    &.is-active {
      color: var(--ui-primary);
      background-color: var(--ui-secondary);
    }

    &:where(:hover, :focus-visible) {
      background-color: var(--ui-secondary-trans025);
    }

    &:active {
      opacity: 0.75;
    }
  }

  &__icn {
    @include square(var(--cs-switcher-icn-size));
  }

  /*
    === Media ===
  */
  @include media(w768) {
    --cs-switcher-icn-size: 2.4rem;
  }
}
