@use "../system/vars" as *;
@use "../system/mixins" as *;


:root {
    --burger-inner-gap: 0.5rem;

    --burger-pseudo-line-shift--x: var(--burger-inner-gap);
    --burger-pseudo-line-shift--y: 0.6rem;
    --burger-pseudo-line-shift--x--negative: calc( -1 * var(--burger-pseudo-line-shift--x) );
    --burger-pseudo-line-shift--y--negative: calc( -1 * var(--burger-pseudo-line-shift--y) );
}

.site-header {
    position: relative;
    isolation: isolate;
    width: 100%;
    max-width: 1920px;
    margin: 0;
    padding: 0.6rem;

    &__wrapp {
        display: flex;
        gap: 3.2rem;
        margin: 0;
        padding: 1.6rem;
        border: 1px solid var(--ui-contrast-primary);
        border-radius: 1.2rem;
    }

    &__logo {
        display: flex;
        align-items: center;
        column-gap: 1.2rem;
        width: auto;
        max-width: 400px;
    }

    &__logo-icon {
        width: 100%;
        max-width: 6.4rem;
        min-width: 6.4rem;
        height: auto;
        min-height: 6.4rem;
    }

    &__logo-descr {
        font: {
            size: 2.4rem;
            weight: 700;
        };

        /**
        * Max VW: 768px
        */
        @include media(w768) {
            display: none;
        }
    }

    &__triggers {
        display: flex;
        align-items: center;
        column-gap: 2rem;
        width: max-content;
        height: auto;
        margin: 0;
        margin-left: auto;
        padding: 0;
    }

    &__burger {
        display: none;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        font-size: 0;
        width: 3.2rem;
        height: 3.2rem;
        margin: 0;
        padding: var(--burger-inner-gap);
        border-radius: 0.6rem;
        cursor: pointer;
        overflow: hidden;
        $trans-props: background-color;
        @include trans-config($trans-props, 0.2s);

        &:where(:hover, :focus-visible) {
            background-color: var(--ui-primary--opacity025);
        }

        /**
        * Max VW: 1024px
        */
        @include media(desktop) {
            display: flex;
            visibility: visible;

            &[aria-pressed="true"] {
                position: relative;
                z-index: calc( $z-modals + 1 );
            }
        }
    }

    &__burger:where(:hover, :focus-visible) & {
        &__burger-appearance {
            &::before {
                translate: -50% -50%;
                box-shadow:
                    0 var(--burger-pseudo-line-shift--y--negative) var(--ui-primary),
                    0 var(--burger-pseudo-line-shift--y) var(--ui-primary);
            }
        }
    }

    &__burger:active &,
    &__burger[data-burger-menu-trigger="is-active"]:active & {
        &__burger-appearance {
            &::before,
            &::after {
                rotate: 0deg;
            }

            &::before {
                box-shadow:
                0 0 var(--ui-primary),
                0 0 var(--ui-primary);
            }
        }
    }

    &__burger[data-burger-menu-trigger="is-active"] & {
        &__burger-appearance {
            &::before,
            &::after {
                translate: -50% -50%;
            }

            &::before {
                rotate: 45deg;
                box-shadow:
                0 0 var(--color-def-transparent),
                0 0 var(--color-def-transparent);
            }

            &::after {
                rotate: -45deg;
                opacity: 1;
            }
        }
    }

    &__burger-appearance {
        position: relative;
        isolation: isolate;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            z-index: 1;
            display: block;
            width: 100%;
            height: 2px;
            background-color: var(--ui-primary);
            border-radius: 0.6rem;
            $trans-props: translate, rotate, box-shadow;
            @include trans-config($trans-props, 0.2s);
        }

        &::before {
            translate: calc( -50% + var(--burger-pseudo-line-shift--x) ) -50%;
            box-shadow:
                var(--burger-pseudo-line-shift--x--negative) var(--burger-pseudo-line-shift--y--negative) var(--ui-primary),
                var(--burger-pseudo-line-shift--x) var(--burger-pseudo-line-shift--y) var(--ui-primary);
        }

        &::after {
            opacity: 0;
        }
    }

    &__nav {
        display: flex;
        $trans-props: background-color;
        @include trans-config($trans-props);

        /**
        * Max VW: 1024px
        */
        @include media(desktop) {
            position: absolute;
            inset: 0;
            z-index: $z-modals;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            width: 100vw;
            height: auto;
            min-height: 100vh;
            background-color: hsl(0 0% 0% / 0);
        }
    }

    &__nav[data-burger-menu-navigation-main-block="is-pending"] {
        display: flex;
        visibility: visible;
    }

    &__nav[data-burger-menu-navigation-main-block="is-active"] {
        display: flex;
        visibility: visible;
        background-color: hsl(0 0% 0% / 0.5);
    }

    &__nav[data-burger-menu-navigation-main-block="is-active"] & {
        &__nav-box {
            translate: 0 0;
        }
    }

    &__nav-box {
        display: flex;
        gap: 3.2rem;
        $trans-props: translate;
        @include trans-config($trans-props, 0.2s);

        /**
        * Max VW: 1024px
        */
        @include media(desktop) {
            translate: 100% 0;
            flex-direction: column;
            justify-content: space-between;
            padding: 2.4rem;
            width: 100%;
            max-width: 50vw;
            min-width: max(25vw, 250px);
            height: 100%;
            background: {
                color: var(--ui-bg-secondary);
                image: var(--ui-bg-gradient);
                position: left top;
                repeat: no-repeat;
            };
            border: {
                width: 1px;
                style: solid;
                color: var(--ui-primary);
                top-left-radius: 2.4rem;
                bottom-left-radius: 2.4rem;
            };
        }
    }

    &__nav-menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1.2rem;
        width: auto;
        max-width: 62.5rem;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}
