@use "../system/vars" as *;
@use "../system/mixins" as *;


.site-footer {
    width: 100%;
    max-width: 1920px;
    padding: {
        right: 0.6rem;
        left: 0.6rem;
    };
    border-top: 1px solid var(--ui-primary);


    /**
    * Max VW: 768px
    */
    @include media(w768) {
        padding: {
            right: 2.4rem;
            left: 2.4rem;
        };
    }

    &__wrapp {
        display: flex;
        justify-content: space-between;
        gap: 10rem;
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-top: auto;
        padding: {
            top: 2rem;
            bottom: 2rem;
        };

        /**
        * Max VW: 768px
        */
        @include media(w768) {
            flex-direction: column;
        }
    }

    &__copyright {
        display: flex;
        flex-direction: column;
        row-gap: 0.4rem;
        width: auto;
        min-width: max-content;
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
        line-height: 1;
        text-align: right;

        /**
        * Max VW: 768px
        */
        @include media(w768) {
            text-align: center;
        }
    }

    &__nav {
        display: flex;
        width: auto;
    }

    &__nav-menu {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        width: auto;
        max-width: 40rem;

        /**
        * Max VW: 768px
        */
        @include media(w768) {
            align-items: stretch;
            width: 100%;
            max-width: 100%;
            flex-direction: column;
        }
    }

    &__nav-link {
        font-size: 1.8rem;
        line-height: 1;
    }
}
