mixin copyright(props = {})
  - const year = props.year ?? '0000'

  small.copyright&attributes(attributes)
    span.copyright__text &copy; Copyright #{year}.
    strong.copyright__text Made with love by Sergey Novikov.
