mixin pet-card(props = {})
  -
    const tooltip = props.href ? 'Go to the project page' : 'Open project detail info'
    const hrefRepo = props.href?.repo || '#'
    const hrefDemo = props.href?.demo || false
    const picName = props.pic?.name || 'content/pic-placeholder'
    const picExt = props.pic?.ext || 'png'
    const picAlt = props.pic?.alt || false

  article.pet-card&attributes(attributes)
    .pet-card__wrap
      +picture({
        width: 350,
        height: 350,
        name: picName,
        ext: picExt,
        alt: picAlt,
      }).pet-card__pic

      .pet-card__info
        hgroup.pet-card__title-box
          h3.pet-card__title= props.title
          p.pet-card__title-desc!= props.desc

        .pet-card__links
          +link({
            isExternal: true,
            href: hrefRepo,
            tooltip: 'Open project\'s repo',
            text: '> Goto repo',
          }).pet-card__link

          if hrefDemo
            +link({
              isExternal: true,
              href: hrefDemo,
              tooltip: 'Open project\'s demo',
              text: '> Watch Demo',
            }).pet-card__link

        if props.tags
          ul.pet-card__tags
            each tag in props.tags
              li.pet-card__tag ##{tag}

//- [FUTURE IMPROVEMENTS]
  ---
  Добавить возможность клика на саму карточку,
  чтобы открывалась модалка с расширенной информацией
  о проекте.
