mixin site-footer(props = {})
  footer.site-footer
    .site-footer__wrapp
      nav.site-footer__nav
        menu.site-footer__nav-menu
          each navLink in DATA_NAV_FOOTER
            li.site-footer__nav-item
              +ui-fancy-button({ href: navLink.href, text: navLink.text })
      p.site-footer__copyright
        span &copy; Copyright 2023.
        span Made by Sergey Novikov.
