mixin skill-card(props = {})
  -
    const title = props.title || 'skill-card-title'
    const list = props.list || [1, 2, 3]

  article.skill-card&attributes(attributes)
    code.ui-code.skill-card__title #[h3= title]

    ul.skill-card__list
      each item in list
        -
          const name = item?.name || item
          const props = item?.props || false

        if props
          li.skill-card__list-item
            button.skill-card__skill.skill-card__skill--has-props(
              type="button"
              aria-label="Hover to show the skill properties"
            )= name
              ol.skill-card__props
                each property in props
                  li.skill-card__props-item= property
        else
          li.skill-card__list-item
            strong.skill-card__skill= name
