mixin site-footer(props = {})
  footer.site-footer&attributes(attributes)
    nav.site-footer__nav
      menu.site-footer__nav-menu
        each navItem in DataSocialsNavigation          
          - const {href, tooltip, text, isAction} = navItem

          li.site-footer__nav-menu-item
            a.site-footer__nav-menu-link(
              href=href || '#'
              target=!isAction && "_blank"
              rel=!isAction && "noopener noreferrer"
              aria-label=tooltip
              data-value=text
            )= text

    +copyright({year: '2025'}).site-footer__copyright
