.ui-code {
    width: auto;
    max-width: max-content;
    margin: 0;
    padding: 0.2rem 0.4rem;
    font-family: monospace;
    color: var(--ui-secondary);
    white-space: nowrap;
    background-color: var(--ui-primary-shade-2);
    border-radius: 0.4rem;
}
