@use "../system/vars" as *;
@use "../system/mixins" as *;

.ui-fancy-button {
  $ui-fancy-button-gap--vertical: 0.8rem;
  $ui-fancy-button-gap--horizontal: 1.2rem;
  $ui-fancy-button-brd-radius: calc( $ui-fancy-button-gap--vertical * 4 );

  position: relative;
  isolation: isolate;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding:
    $ui-fancy-button-gap--vertical
    $ui-fancy-button-gap--horizontal;
  font: {
    size: 1.8rem;
    weight: 300;
  };
  color: var(--color-def-transparent);
  background-color: var(--ui-contrast-primary);
  border-radius: $ui-fancy-button-brd-radius;
  cursor: pointer;
  overflow: hidden;
  $trans-props: opacity;
  @include trans-config($trans-props);

  &::before,
  &::after {
    content: attr(value);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font: {
      size: 1.8rem;
      weight: 300;
    };
    color: var(--ui-bg-primary);
    pointer-events: none;
    $trans-props: translate;
    @include trans-config($trans-props);
  }
  &::before {
    translate: 0 0;
    color: var(--ui-bg-primary);
    background-color: var(--ui-primary);
  }
  &::after {
    translate: 0 100%;
    color: var(--color-def-white);
    background-color: var(--ui-contrast-secondary);
  }

  &:hover,
  &:focus-visible {
    &::before {
      translate: 0 -100%;
    }
    &::after {
      translate: 0 0;
    }
  }
  &:active {
    opacity: 0.5;
  }
}
