.ui-wip-gears {
    &__gear {
        animation: {
            duration: 5s;
            timing-function: ease;
            iteration-count: infinite;
        };
        transform-origin: center;
        transform-box: fill-box;
    }

    #gear-1 { animation-name: gear-rotation-positive, gear-scale; }
    #gear-2 { animation-name: gear-rotation-positive, gear-scale; }
    #gear-3 { animation-name: gear-rotation-negative, gear-scale; }


    // Animations
    @keyframes gear-rotation-positive {
        0% { rotate: 0deg; }
        100% { rotate: 360deg; }
    }

    @keyframes gear-rotation-negative {
        0% { rotate: 0deg; }
        100% { rotate: -360deg; }
    }

    @keyframes gear-scale {
        0%,
        100% { scale: 0.95; }
        50% { scale: 1.05; }
    }
}
